<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>For Pari ♡</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    // Force reload if page is loaded from back/forward cache
    window.onpageshow = function (event) {
      if (event.persisted) {
        window.location.reload();
      }
    };
  </script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&family=Playfair+Display:ital,wght@0,400;0,600;1,400&family=Inter:wght@300;400;500&display=swap');

    .font-hand {
      font-family: 'Caveat', cursive;
    }

    .font-serif {
      font-family: 'Playfair Display', serif;
    }

    .font-sans {
      font-family: 'Inter', sans-serif;
    }
  </style>
</head>

<body class="min-h-screen text-gray-800" style="background-color:#FFF7F8">

  <nav class="px-8 py-6 flex justify-between items-center font-hand">
    <span class="text-2xl" style="color:#DB2955">
    </span>

    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}"
      class="group px-2 py-2 bg-white/50 hover:bg-red-50/80 text-red-400 rounded-full text-s font-bold transition backdrop-blur-sm shadow-sm border border-red-100 flex items-center gap-2 title-cased tracking-wider">
      <span>Sign Out</span>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
        class="w-3 h-3 group-hover:translate-x-1 transition-transform">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
      </svg>
    </a>
    {% endif %}
  </nav>

  <main class="max-w-4xl mx-auto px-6">
    {% block content %}{% endblock %}
  </main>

</body>

</html>